<!DOCTYPE html>
<html ng-app="CTApp">
  <head>
    <meta charset="UTF-8">
    <title>Click Track</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- NPM Modules -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Load in all angular controllers/services/directives -->
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="homeController">
      <div class="container">
          <form name="measure-settings">
              <div class="row">
                  <h1 align="center">Metronome</h1>
                  <div class="col-sm-2 col-sm-offset-3">
                      <div class="form-group">
                          <label for="bpmInput">BPM</label>
                          <input type="number" max="999" min="1" class="form-control" id="bpmInput" aria-label="Beats per minute" ng-change="stopMet()" ng-model="bpm">
                          <small id="bpmHelp" class="form-text text-muted">Beats Per Minute</small>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="perMeasureInput">Beats Per Measure</label>
                          <input type="number" max="32" min="1" class="form-control" id="perMeasureInput" aria-label="Beats per measure" ng-change="stopMet()" ng-model="perMeasure">
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="noteValueInput">Note Value</label>
                          <select class="form-control" id="noteValueInput" aria-label="Note Value" ng-options="x for x in noteValues" ng-change="stopMet()" ng-model="noteValue">
                          </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-2 col-xs-offset-5">
                      <button class="btn btn-primary" ng-click="toggleMet()"><span ng-show="!playMet">Play</span><span ng-show="playMet">Stop</span></button>
                  </div>
              </div>
          </form>
    </div>
  </body>
</html>
